@base: #50a14f;
@transition-fn: transition-timing-function;

* {
  box-sizing: border-box;
}
body, div, img, button, input {
  margin: 0;
  padding: 0;
}
button {
  background: none;
  outline: none;
  border: none;
}
body {
  background-color: lighten(@base, 50%);
  height: 100%;
}
.container {
  max-width: 400px;
  height: 230px;
  margin: 100px auto;
  position: relative;
}
.container .bg {
  width: 100%;
  height: 100%;
  transition: all .3s ease-in;  
  background: url(/images/jaychou.jpg) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.container:hover .bg {
  filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
  -webkit-filter: blur(5px); /* Chrome, Opera */
      -moz-filter: blur(5px);
      -ms-filter: blur(5px);    
          filter: blur(5px);
}
.container .btn {
  width: 80%;
  height: 80%;
  position: relative;
  left: 10%;
  top: 10%;
  font-size: 24pt;
  font-weight: 600;

}

/*border*/
#border() {
  content: '';
  background-color: #fff;
  position: absolute;
}
#hor-border() {
  #border();
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  transition-duration: .5s;
  @{transition-fn}: ease-in-out;
}

.btn .border-hor::before {
  #hor-border();
  top: 0;
  left: 0;
}
.btn .border-hor::after {
  #hor-border();
  bottom: 0;
  left: 0;
}
.btn:hover .border-hor::before,
.btn:hover .border-hor::after {
  transform: scaleX(1);
}

#ver-border() {
  #border();
  width: 5px;
  height: 100%;
  transform: scaleY(0);
  transition-duration: .5s;
  @{transition-fn}: ease-in-out;
}
.btn .border-ver::before {
  #ver-border();
  top: 0;
  left: 0;
}
.btn .border-ver::after {
  #ver-border();
  top: 0;
  right: 0;
}
.btn:hover .border-ver::before,
.btn:hover .border-ver::after {
  transform: scaleX(1);
}